{% layout 'layout.liquid' %}
{% block content %}
  <div class="col-mb-4">
    <h1 class="display-4">Welcome To The Pie App</h1>
    <p>This app is all about pies and comments</p>
    <div class="spinner-border text-primary"></div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSew3Ly3S-GiRuyWZrxQJ6R9Jw5K8SVbuVS0oV3QGnihi9K5wkezPrUHtebc8uqMm7Pelw&usqp=CAU" alt="image of oranges" height="200px">
  </div>
  <div class="btn-group btn-group-lg">
    <a href="/users/signup" class="btn btn-success">Sign Up</a>
    <a href="/users/login" class="btn btn-success">Login</a>
  </div>
{% endblock %}