{% layout 'layout.liquid' %}
{% block content %}
  <div class="col-mb-4">
    <h1 class="display-4">Welcome To The Pie App!</h1>
    <p>This app is all about pies.</p>
    
    <img src="https://images.pexels.com/photos/5566020/pexels-photo-5566020.jpeg?auto=compress&cs=tinysrgb&w=600" alt="image of pies" height="200px" width ="180px">
  </div>
  <div class="btn-group btn-group-lg">
    <a href="/users/signup" class="btn btn-success">Sign Up</a>
    <a href="/users/login" class="btn btn-success">Login</a>
  </div>
{% endblock %}